@import '../../styles/variables.css';

:global {
  .homeSlide {
    align-items: center;
    display: flex;
    justify-content: center;
    min-height: 100vh;
    padding-bottom: 200px;
    width: 100%;
  }

  .carousel .slide {
    background: none;
  }
}

.main {
  background: url('../../assets/mainBg.jpg') no-repeat center center transparent;
  background-size: cover;
}

.home {
  margin: 0 auto;
}
