@import '../../styles/variables.css';
@import '../../styles/reset.css';
@import '../../styles/base.css';

/*
 * normalize.css is imported in JS file.
 * If you import external CSS file from your internal CSS
 * then it will be inlined and processed with CSS modules.
 */

.layout {
  background: #000;
}

.main {
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: space-between;
  overflow: hidden;
}
