@import '../../styles/variables.css';

.navigation {
  background: rgba(0, 0, 0, 0.2);
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
}

.container {
  text-align: center;

  @media (--large) {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: inherit;
  }
}

.logo {
  cursor: pointer;
  padding: 20px 25px 0;

  @media (--large) {
    padding: 20px 25px;
  }
}

.menuItem {
  cursor: pointer;
  display: inline-block;
  font-size: 15px;
  font-weight: 400;
  padding: 25px;
  position: relative;

  @media (--large) {
    padding: 40px;
  }

  &::before {
    background-color: var(--color-brand-purple);
    bottom: 0;
    content: '';
    height: 0;
    left: 0;
    position: absolute;
    right: 0;
    transition: 0.2s;
  }

  &:hover::before,
  &.active::before {
    height: 3px;
  }
}

.social {
  padding: 20px 25px;
}

.socialItem {
  display: inline-block;
  margin-left: 8px;
}

.socialIcon {
  background-color: #3d3d3d;
  border-radius: 50%;
  color: #000;
  font-size: 16px;
  height: 28px;
  line-height: 28px;
  text-align: center;
  transition: 0.3s ease-in-out;
  width: 28px;

  &:hover {
    background-color: var(--color-brand-purple);
    color: #fff;
  }
}
